<h1 [class.text-red]="textRed">O nome é: {{ retornaNome() }}</h1>

<img [src]="imageUrl">

<button [attr.aria-label]=""buttonText>{{ buttonText }}</button>

<input #input (keyup)="clicou(input.value)">
{{ input.value }}

<input type="text" class="form-control" [(ngModel)]="textInput">
<p class="text-default">{{ textInput }}</p>

<app-button [btnText]="'Cancelar'" [btnType]="'btn-danger'"></app-button>
<app-button [btnText]="'Salvar'" [btnType]="'btn-success'"></app-button>
<app-button [btnText]="'Editar'" [btnType]="'btn-primary'"></app-button>
<app-button [btnText]="'Teste'" [btnType]="'btn-default'" (clickChildren)="clicouNoFilho($event)"></app-button>
